fastapi
uvicorn
python-multipart
pydantic
numpy
pandas
pillow
matplotlib
scikit-learn
scikit-image
pytorch-lightning
omegaconf
xmltodict
scipy
shapely
rasterio
geopandas
safetensors
slidingwindow
supervision
tensorboard
timm
tqdm
transformers
kornia
earthengine-api