fastapi
uvicorn
python-multipart
pydantic

numpy
pandas
pillow
matplotlib
scikit-learn
scikit-image
scipy
shapely
rasterio
geopandas

pytorch-lightning
omegaconf

safetensors
slidingwindow
supervision
tensorboard
timm
tqdm
transformers
xmltodict

earthengine-api