fastapi
uvicorn
python-multipart
pydantic
numpy
pandas
pillow
matplotlib
scikit-learn
scikit-image>=0.24
pytorch-lightning
omegaconf
xmltodict
scipy>=1.12
shapely
rasterio
geopandas
safetensors
slidingwindow
supervision
tensorboard
timm
tqdm
transformers
kornia
folium>=0.16
streamlit-folium>=0.23
earthengine-api>=1.5
google-auth>=2.29